<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TheCreationist.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <TheCreationist.App.Properties.Settings>
      <setting name="Title" serializeAs="String">
        <value>TheCreationist</value>
      </setting>
      <setting name="MinWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MinHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ResizeMode" serializeAs="String">
        <value>CanResizeWithGrip</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Foreground" serializeAs="String">
        <value>#FFC0C0C0</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="Backdrop" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SwatchSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Libraries" serializeAs="String">
        <value>${USERPROFILE}\TheCreationist\Libraries</value>
      </setting>
      <setting name="DefaultLibraries" serializeAs="String">
        <value>Resources\Libraries</value>
      </setting>
    </TheCreationist.App.Properties.Settings>
  </userSettings>
</configuration>
